.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    padding: 6rem 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-self: center;
}