.review-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px 25px 8px 8px;
    width: 571px;
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.review-details {
    display: flex;
    align-items: center;
    gap: 17px;
}

.review-details img {
    height: 91px;
    width: 91px;
    object-fit: cover;
    border-radius: 6px;
}

.review-details .product-title {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}

.review-details p {
    margin: 6px;
    color: #1C2B35;
    line-height: 18px;
    letter-spacing: 0.0025em;
}

.review-item .orange-text {
    color: #FF9900;
}

.btn-delete {
    height: 55px;
    width: 55px;
    background: rgba(235, 87, 87, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-icon {
    color: #EB5757;
    font-size: 31px;
}